.chart-overview {
  display: flex;
  gap: 32px;
  margin-bottom: 32px;
  .right {
    flex: 4;
  }
  .left {
    flex: 3;
  }
  .right,
  .left {
    display: flex;
    flex-direction: column;
    gap: 24px;
    .report-status {
      display: flex;
      gap: 32px;
    }
  }
}
