.employer {
  border-radius: 16px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 34px;
  .employer-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .employer-name {
      font-size: 14px;
      font-weight: 500;
    }
    .employer-icons {
      display: flex;
      gap: 8px;
      svg {
        width: 40px;
        height: 40px;
        padding: 8px;
        border-radius: 8px;
        border: 0.5px solid #ececec;
        box-shadow: 0px 4px 25px 0px rgba(141, 141, 141, 0.05);
      }
    }
  }
  .employer-total {
    display: flex;
    gap: 32px;
    .card {
      padding: 16px 32px;
      flex: 1;
      text-align: center;
      .stage {
        margin-bottom: 8px;
        font-size: 12px;
        font-weight: 300;
      }
      .count {
        font-weight: 500;
      }
    }
  }
  .opportunity-table {
    .opportunity-table-header {
      border-radius: 8px 8px 0 0;
      background: #fafafa;
    }
    .opportunity-table-header,
    .opportunity-table-row {
      display: flex;
      .opportunity-name,
      .status,
      .count {
        padding: 16px;
        font-size: 13px;
        font-weight: 500;
      }
      .opportunity-name {
        width: 182px;
        flex: 1.5;
      }
      .status,
      .count {
        flex: 1;
        width: 143px;
        &.opportunitytotal {
          background: #f6faff;
          font-weight: 500;
        }
      }
      .count.opportunitytotal {
        font-weight: 700;
      }
      .status {
        &:not(.opportunitytotal)::after {
          font-size: 10px;
          font-weight: 400;
          padding: 2px 16px;
          border-radius: 20px;
        }
        &.qualified::after {
          content: "active";
          border: 1px solid #cbe3bf;
          background: #f2fbe9;
        }
        &.disqualified::after {
          content: "disqualified";
          border: 1px solid #fed8d4;
          background: #ffecea;
        }
        &.opportunitytotal::after {
          content: "sub - total";
        }
      }
    }
  }
}

.employer-chart-view {
  h2 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 24px;
  }
}
